body {
  background: #8076ed;
  font-family: ubuntu, sans-serif;
  font-size: 14px;
  padding-top: 1em;
}

h1 {
  font-size: 4em;
  margin: 0;
  padding-bottom: 0.2em;
}
h2 {
  margin-top: 1.3em;
  padding-bottom: 0em;
  margin-bottom:0;
}
.view-source { float: right }


select {
  overflow-y: hidden;
  background: #8076ed;
  outline: none;
  width: 100px;

  border: 1px solid white;
}


option:hover,
option:focus,
option:active,
option:checked,
option::selection {
  box-shadow: 0 0 10px 100px rgb(101, 168, 255) inset;

}

table {
  border-collapse: collapse;

}
th, td, .table-row, .table-cell {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;


  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.cloudTile {
  background-image: url("cloud.png");
}

.solidTile {
  background-image: url("solid.png");
}

.spikesTile {
  background-image: url("spike.png");
}

.airTile {
  background-image: url("air.png");
}

.superSolidTile {
  background-image: url("superSolid.png");
}

.playerSpawnTile {
  background-image: url("playerSpawn.png");
}

.itemTile {
  background-image: url("item.png");
}

.tile {
  background-color: #eee;
  border-style: solid;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

.center {
    margin: auto;
    border: 1px solid white;
}


.editorContent {
  display: flex;
  width: 850px;
  margin-left: auto; 
  margin-right: auto;
}
.editor {
  flex: 0 0 100%;

  border: 1px solid white;
}
.sidebar {
  flex: 1;
  padding: 5px;
}

button{
  background-color: #8076ed;
  border: 1px solid white;
  color: white;
  width: 100px;
}